body {
	display: flex;
	justify-content: center;
}
canvas {
	border: solid;
}
.instrucciones {
	text-align: center;
	margin-top: 2rem;
	font-size: large;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 2rem;
}
.lightsOFFText {
	color: whitesmoke !important;
}
.lightsOFFBG {
	background-color: rgb(41, 41, 41) !important;
}
.lightsOFFCanvas {
  border-color: whitesmoke;
}
